<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Why are you reading my code?">
    <meta name="author" content="Sabbir">
    <link href="{{ url_for('static', filename = 'img/icon.png') }}">

    <title>Study Guy | Results</title>


    {% include 'css.html' %}
    {% include 'js.html' %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

    <script src="{{ url_for('static', filename = 'js/canvasjs.min.js') }}">
    </script>


</head>

<body>

<section class="success">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center">Your syllabus is on...</h1>
                <hr class="wrench">

                {% for i in data %}
                    <div class="svg-wrapper"
                         style="display: block; margin-left: auto; margin-right: auto;">
                        <svg height="40" width="500"
                             xmlns="http://www.w3.org/2000/svg">
                            </rect>
                            <div id="text" data-dismiss="modal">
                                <!-- <a href="javascript:void(0)"> -->
                                <span class="spot"></span>
                                <i class="fa fa-times"></i>
                                {{ i }}
                                <!-- </a> -->
                            </div>
                        </svg>
                    </div>
                    <p></p>
                {% endfor %}

            </div>
        </div>

        <div class="row">
            <div class="ui-widget">

                <h1 class="text-center">Choose subject:</h1>
                <!-- <label for="topics">Topic: </label> -->
                <span role="status" aria-live="polite"
                      class="ui-helper-hidden-accessible"></span>
                <input id="topics" class="ui-autocomplete-input" align="center"
                       autocomplete="off">
                <a href="javascript:void(0)" onclick="myFunction()"
                   id="submit1">Go</a>

            </div>

            <ul class="ui-autocomplete ui-front ui-menu ui-widget ui-widget-content ui-corner-all"
                id="ui-id-1" tabindex="0" style="display: none;"></ul>

            <div id="test"></div>

        </div>
    </div>

</section>

</body>


</html>