<!-- Portfolio -->

<section id="portfolio">

	<div class="container">

		<hr class="name"></hr>

		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Examples</h2>
                <h3>These examples are taken from major requirements at the University of Maryland, Baltimore County</h3>
				<hr class="wrench">
			</div>
		</div>

		<div class="row">
			<!-- Empty placeholder -->
			<div class="col-sm-4 portfolio-item">
					<div class="caption">
					</div>
				</a>
			</div>
			<div class="col-sm-4 portfolio-item">
				<a href="#sirworm" class="portfolio-link" data-toggle="modal">
					<div class="caption">
						<div class="caption-content">
							Sir Worm
						</div>
					</div>
					<img src="{{ url_for('static', filename = 'img/studyicon.png') }}" class="img-responsive" alt="" float="left">

				</a>
                <a href="#sirworm" class="portfolio-link" data-toggle="modal">
					<div class="caption">
						<div class="caption-content">
							Sir Worm
						</div>
					</div>
					<img src="{{ url_for('static', filename = 'img/studyicon.png') }}" class="img-responsive" alt="" float="right">

				</a>
                
			</div>
			<!-- Empty placeholder -->
			<div class="col-sm-4 portfolio-item">
					<div class="caption">
					</div>
				</a>
			</div>
		</div>

		</div>
	</div>




</section>