<!-- Project modals -->

<!-- Sir Worm -->
<div class="portfolio-modal modal fade" id="sirworm" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content" style="background-color: #4a494a;">

		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body" style="background-color: #4a494a;">
						<h2>About</h2>
						<hr class="lightbulb">
						<p>
						Based on personal experience of enrolling in STEM majors such as computer engineering and computer engineering. Once enrolled, students like us were blindsided with courses with long and intricate course names. Who knew that computer science requires so much math? Well, we found out the hard way. If only other students like us who dream of pursuing STEM majors could use a service that outlines all the different areas of study that they'll encounter in their major. Oh wait, now there is!
						</p>
						<p>
						Major Way takes your pdf. four-year plans of your major, and parses through to extract course names and gives your a pie diagram that gives you percentages of the different areas of study that composes your major.
						</p>

						<div class="svg-wrapper" style="display: block; margin-left: auto; margin-right: auto;">
							<svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
								<rect id="shape" height="40" width="150" /></rect>
								<div id="text" data-dismiss="modal">
									<a href="#projects" data-dismiss="modal">
										<span class="spot"></span>
										<i class="fa fa-times"></i>
										Close
									</a>
								</div>
							</svg>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>