<!-- Project modals -->

<!-- Sir Worm -->
<div class="portfolio-modal modal fade" id="sirworm" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content" style="background-color: #4a494a;">

		<div class="close-modal" data-dismiss="modal">
			<div class="lr">
				<div class="rl">
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="modal-body" style="background-color: #4a494a;">
						<h2>Upload</h2>
						<hr class="lightbulb">
						<p>
							The ultimate syllabus mining machine.
						</p>

						<div class="svg-wrapper" style="display: block; margin-left: auto; margin-right: auto;">
							<svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
								<rect id="shape" height="40" width="150" /></rect>
								<div id="text" data-dismiss="modal">
									<a href="#projects" data-dismiss="modal">
										<span class="spot"></span>
										<i class="fa fa-times"></i>
										Close
									</a>
								</div>
							</svg>
						</div>

					</div>
				</div>
			</div>
		</div>

	</div>
</div>