<!-- Portfolio -->

<section id="portfolio">

	<div class="container">

		<hr class="name"></hr>

		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Upload</h2>
				<hr class="wrench">
			</div>
		</div>

		<div class="row">
			<!-- Empty placeholder -->
			<div class="col-sm-4 portfolio-item">
					<div class="caption">
					</div>
				</a>
			</div>
			<div class="col-sm-4 portfolio-item">
				<a href="#sirworm" class="portfolio-link" data-toggle="modal">
					<div class="caption">
						<div class="caption-content">
							About
						</div>
					</div>
					<img src="{{ url_for('static', filename = 'img/button.png') }}" class="img-responsive" alt="">

				</a>
			</div>
			<!-- Empty placeholder -->
			<div class="col-sm-4 portfolio-item">
					<div class="caption">
					</div>
				</a>
			</div>
		</div>

		</div>
	</div>

	<div class="svg-wrapper" style="display: block; margin-left: auto; margin-right: auto;">
		<svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
			<rect id="shape" height="40" width="150" /></rect>
			<div id="text" data-dismiss="modal">
				<a href="/uploads">
					<span class="spot"></span>
					<i class="fa fa-cogs"></i>
					Upload
				</a>
			</div>
		</svg>
	</div>

</section>