<!DOCTYPE html>

{% include 'css.html' %}
{% include 'js.html' %}
<script src="{{ url_for('static', filename = 'js/canvasjs.min.js') }}"></script>

<section class="success">
	<div class="container">
		<div class="row">
		    <div class="container">
		        <div class="row">
		            <div class="col-lg-12 text-center">
		                <h2>Breakdown of major</h2>
		                <hr class="lightbulb">
		            </div>
		        </div>

			<!-- JavaScript Pie -->
			<script>


				window.onload = function () {

					var data1 = {{ data|tojson }};

					var JSONObject = JSON.parse(data1);

					var parsed_data_set = [];


					String.prototype.capitalizeFirstLetter = function() {
					    return this.charAt(0).toUpperCase() + this.slice(1);
					}


					for (value in JSONObject) {
						if (JSONObject[value] != 0) {
							new_topic = {
								y: JSONObject[value],
								legendText: value.capitalizeFirstLetter(),
								label: value.capitalizeFirstLetter()
							};

							parsed_data_set.push(new_topic);
						}

						

					}

					var chart = new CanvasJS.Chart("chartContainer",
							{
								backgroundColor: "#4a494a",
 								animationEnabled: true,
								legend: {
									verticalAlign: "center",
									horizontalAlign: "left",
									fontSize: 20,
									fontFamily: "Arial"
								},
								data: [
									{
										type: "pie",
										indexLabelFontFamily: "Arial",
										indexLabelFontColor: "#FFFFFF",
										indexLabelFontSize: 20,
										markerBorderColor: "#FFFFFF",
										
										indexLabelFontColor: "white", 
										indexLabelLineColor: "white",        
										indexLabelPlacement: "white",
										
										indexLabel: "{label} {y}%",
										startAngle: -20,
										toolTipContent: "{legendText} {y}%",
										dataPoints: parsed_data_set

									}
								]
							});
					chart.render();
				}


			</script>

			<div id="chartContainer" style="height: 300px; width: 100%;"></div>


		</div>
	</div>
	</div>
</section>