<!DOCTYPE html>

{% include 'css.html' %}
{% include 'js.html' %}
<script src="{{ url_for('static', filename = 'js/canvasjs.min.js') }}"></script>

<section class="success">
	<div class="container">
		<div class="row">
		    <div class="container">

		        <div class="row">
		            <div class="col-lg-12 text-center">
		                <h2>Breakdown of major</h2>
		                <hr class="lightbulb">
		            </div>
		        </div>

			<!-- JavaScript Pie -->
			<script>


				window.onload = function () {

					var data1 = {{ data|tojson }};

					var JSONObject = JSON.parse(data1);

					var parsed_data_set = [];


					String.prototype.capitalizeFirstLetter = function() {
					    return this.charAt(0).toUpperCase() + this.slice(1);
					}


					for (value in JSONObject) {
						if (JSONObject[value] != 0) {
							new_topic = {
								y: JSONObject[value],
								legendText: value.capitalizeFirstLetter(),
								label: value.capitalizeFirstLetter()
							};

							parsed_data_set.push(new_topic);
						}

						

					}

					var chart = new CanvasJS.Chart("chartContainer",
							{
								backgroundColor: "#4a494a",
 								animationEnabled: true,
								legend: {
									verticalAlign: "center",
									horizontalAlign: "left",
									fontSize: 20,
									fontFamily: "Arial"
								},
								data: [
									{
										type: "pie",
										indexLabelFontFamily: "Arial",
										indexLabelFontColor: "#FFFFFF",
										indexLabelFontSize: 20,
										markerBorderColor: "#FFFFFF",
										
										indexLabelFontColor: "white", 
										indexLabelLineColor: "white",        
										indexLabelPlacement: "white",
										
										indexLabel: "{label} {y}%",
										startAngle: -20,
										toolTipContent: "{legendText} {y}%",
										dataPoints: parsed_data_set,
									  click: function(e){
									    console.log(  e.dataSeries.type+ ", dataPoint { x:" + e.dataPoint.x + ", y: "+ e.dataPoint.y + " }" );
									   },

									}
								]
							});
					chart.render();
				}


			</script>

			<div id="chartContainer" style="height: 300px; width: 100%;"></div>

		</div>
		
		<div class="row">
		<br></br>
			<div class="col-lg-4 col-sm-4">
				<h3>Biology</h3>
				<p>
					Biology is a natural science concerned with the study of life and living organisms, including their structure, function, growth, evolution, distribution, and taxonomy. Modern biology is a vast and eclectic field, composed of many branches and subdisciplines. However, despite the broad scope of biology, there are certain general and unifying concepts within it that govern all study and research, consolidating it into single, coherent fields.
				</p>
			</div>

			<div class="col-lg-4 col-sm-4">
				<h3>Chemistry</h3>
				<p>
					Chemistry is a branch of physical science that studies the composition, structure, properties and change of matter. Chemistry includes topics such as the properties of individual atoms, how atoms form chemical bonds to create chemical compounds, the interactions of substances through intermolecular forces that give matter its general properties, and the interactions between substances through chemical reactions to form different substances.
				</p>
			</div>

			<div class="col-lg-4 col-sm-4">
				<h3>Physics</h3>
				<p>
					Physics (from Ancient Greek: φυσική (ἐπιστήμη) phusikḗ (epistḗmē) "knowledge of nature", from φύσις phúsis "nature") is the natural science that involves the study of matter and its motion through space and time, along with related concepts such as energy and force. One of the most fundamental scientific disciplines, the main goal of physics is to understand how the universe behaves
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-sm-4">
				<h3>Earth science</h3>
				<p>
					Earth science or geoscience is an all-encompassing term that refers to the fields of science dealing with planet Earth. It can be considered to be a branch of planetary science, but with a much older history. There are both reductionist and holistic approaches to Earth sciences. The formal discipline of Earth sciences may include the study of the atmosphere, hydrosphere, lithosphere, and biosphere. Typically, Earth scientists will use tools from physics, chemistry, biology, chronology, and mathematics to build a quantitative understanding of how the Earth system works, and how it evolved to its current state.
				</p>
			</div>

			<div class="col-lg-4 col-sm-4">
				<h3>Space science</h3>
				<p>
					Space science – study of everything in outer space. This has sometimes been called astronomy, but recently astronomy has come to be regarded as a division of broader space science, which has grown to include other related fields, such as studying issues related to space travel and space exploration (including space medicine), space archaeology and science performed in outer space.
				</p>
			</div>

			<div class="col-lg-4 col-sm-4">
				<h3>Formal science</h3>
				<p>
					Formal sciences are disciplines concerned with formal systems, such as logic, mathematics, statistics, theoretical computer science, information theory, game theory, systems theory, decision theory, and portions of linguistics. Whereas the natural sciences seek to characterize physical systems, the formal sciences are concerned with characterizing abstract structures described by sign systems. The formal sciences aid the natural sciences by providing information about the structures the latter use to describe the world, and what inferences may be made about them.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-sm-4">
				<h3>Mathematics</h3>
				<p>
					Mathematics (from Greek μάθημα máthēma, “knowledge, study, learning”) is the study of topics such as quantity (numbers), structure, space, and change. Mathematicians seek out patterns and use them to formulate new conjectures. Mathematicians resolve the truth or falsity of conjectures by mathematical proof. When mathematical structures are good models of real phenomena, then mathematical reasoning can provide insight or predictions about nature.
				</p>
			</div>

			<div class="col-lg-4 col-sm-4">
				<h3>Computer science</h3>
				<p>
					Computer science is the scientific and practical approach to computation and its applications. It is the systematic study of the feasibility, structure, expression, and mechanization of the methodical procedures (or algorithms) that underlie the acquisition, representation, processing, storage, communication of, and access to information. An alternate, more succinct definition of computer science is the study of automating algorithmic processes that scale. A computer scientist specializes in the theory of computation and the design of computational systems.
				</p>
			</div>

			<div class="col-lg-4 col-sm-4">
				<h3>Logic</h3>
				<p>
					Logic (from the Ancient Greek: λογική, logike) is the branch of philosophy concerned with the use and study of valid reasoning. The study of logic also features prominently in mathematics and computer science.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<h3>Statistics</h3>
				<p>
					Statistics is the study of the collection, analysis, interpretation, presentation, and organization of data. In applying statistics to, e.g., a scientific, industrial, or societal problem, it is conventional to begin with a statistical population or a statistical model process to be studied. Populations can be diverse topics such as "all persons living in a country" or "every atom composing a crystal". Statistics deals with all aspects of data including the planning of data collection in terms of the design of surveys and experiments.
				</p>
			</div>

			<div class="col-lg-6">
				<h3>Systems science</h3>
				<p>
					Systems science is an interdisciplinary field that studies the nature of systems—from simple to complex—in nature, society, and science itself. The field aims to develop interdisciplinary foundations that are applicable in a variety of areas, such as engineering, biology, medicine, and social sciences.
				</p>
			</div>

		</div>

	</div>
</section>